<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .parent {
            width: 200px;
            height: 200px;
            background-color: red;
            display: flex;
            flex-direction: row;
            /* căn chỉnh đối tượng item theo chiều ngang */
            justify-content: center;
            /* căn chỉnh đối tượng item theo chiều dọc */
            align-items: center;
        }

        .child {
            width: 120px;
            height: 120px;
            background-color: blue;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child"></div>

    </div>
</body>

</html>