<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://kit.fontawesome.com/a3fe8c29cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/css.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="style/images/logow.png" alt=""></a>
                </div>
                <div class="navbar-link">
                    <ul>
                        <li>
                            <div class="search">
                                <a href="search.html">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </li>
                        <li><a href="index.html">Movie</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Trending sẽtion -->
        <div class="trending">
            <div class="suggestion">
                <div class="suggestil">
                    <a href="">
                        <h4><i class="fa-solid fa-film"></i> Trending</h3>
                    </a>
                    <a href="">
                        <h4>Xem tất cả</h3>
                    </a>
                </div>
    
                <div class="film_list_row">
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/771259.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
    
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/42025.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/740296.png" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/1167501.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/2813640.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upcoming section -->
        <div class="upcoming">
            <div class="suggestion">
                <div class="suggestil">
                    <a href="">
                        <h4><i class="fa-solid fa-film"></i> Upcoming</h3>
                    </a>
                    <a href="">
                        <h4>Xem tất cả</h3>
                    </a>
                </div>
    
                <div class="film_list_row">
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/771259.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
    
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/42025.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/740296.png" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/1167501.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/2813640.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recommend section -->
        <div class="recommended">
            <div class="suggestion">
                <div class="suggestil">
                    <a href="">
                        <h4><i class="fa-solid fa-film"></i> Recommended</h3>
                    </a>
                    <a href="">
                        <h4>Xem tất cả</h3>
                    </a>
                </div>
    
                <div class="film_list_row">
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/771259.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
    
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/42025.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/740296.png" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/1167501.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/2813640.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- In the theature section -->
        <div class="inthetheature">
            <div class="suggestion">
                <div class="suggestil">
                    <a href="">
                        <h4><i class="fa-solid fa-film"></i> In the Theature</h3>
                    </a>
                    <a href="">
                        <h4>Xem tất cả</h3>
                    </a>
                </div>
    
                <div class="film_list_row">
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/771259.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
    
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/42025.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/740296.png" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/1167501.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="film ">
                        <div class="poster">
                            <img src="style/images/2813640.jpg" alt="">
                        </div>
                        <div class="card_detail">
                            <h3>La La Land</h3>
                            <p> <span>Directed by</span> James Bone</p>
                            <div class="rate_and_gener">
                                <p><span><i class="fa-brands fa-imdb"></i></span> 8.0/10</p>
                                <div class="gener">
                                    <p>Romace</p>
                                </div>
                            </div>
                            <div class="intro">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dignissimos
                                    voluptatibus</p>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>