<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLOP</title>
    <link rel="stylesheet" href="style/css.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <script src="https://kit.fontawesome.com/a3fe8c29cc.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">

        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="style/images/logow.png" alt=""></a>
                </div>
                <div class="navbar-link">
                    <ul>
                        <li>
                            <div class="search">
                                <a href="search.html">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </li>
                        <li><a href="index.html">Movie</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="slides">
            <!-- First film -->
            <div class="background_image">
                <div class="content">
                    <div class="film-info left">

                        <div class="film-name">LA <br> LA <br> LAND</div>
                        <div class="info_1">
                            <div class="type">Romace, Drama</div>
                            <div class="year"><i class="fa-regular fa-calendar-days"></i>
                                <p>2019</p>
                            </div>
                            <div class="long"><i class="fa-solid fa-hourglass"></i>
                                <p>128min</p>
                            </div>
                        </div>
                        <div class="review">
                            <p><span>IMDB</span> 8.0/10 (650k) </p>
                        </div>
                        <div class="btns">

                            <button class="buttons primary">
                                <a href="movie.html">Watch</a>
                            </button>

                            <button class="buttons secondary">
                                <a href="details.html">More details</a>
                            </button>
                        </div>
                    </div>
                    <div class="film-info right">
                        <p>Daminen Chazelle <span> :Director</span> </p>
                        <p>Ryal Glosing, Emma Stone <span> :Star</span> </p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptate similique
                            quam
                            aut modi quis obcaecati velit soluta error aspernatur maxime, sequi impedit corrupti
                            neque?
                            Sit laudantium necessitatibus tempora.</p>
                    </div>
                </div>


            </div>
            <!-- Second film -->
            <div class="background_image">

                <div class="content">
                    <div class="film-info left">

                        <div class="film-name">The <br> Batman <br> </div>
                        <div class="info_1">
                            <div class="type">Romace, Drama</div>
                            <div class="year"><i class="fa-regular fa-calendar-days"></i>
                                <p>2019</p>
                            </div>
                            <div class="long"><i class="fa-solid fa-hourglass"></i>
                                <p>128min</p>
                            </div>
                        </div>
                        <div class="review">
                            <p><span>IMDB</span> 8.0/10 (650k) </p>
                        </div>
                        <div class="btns">
                            <button class="buttons primary">
                                <a href="movie.html">Watch</a>
                            </button>

                            <button class="buttons secondary">
                                <a href="details.html">More details</a>
                            </button>
                        </div>
                    </div>
                    <div class="film-info right">
                        <p>Daminen Chazelle <span> :Director</span> </p>
                        <p>Ryal Glosing, Emma Stone <span> :Star</span> </p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptate similique
                            quam
                            aut modi quis obcaecati velit soluta error aspernatur maxime, sequi impedit corrupti
                            neque?
                            Sit laudantium necessitatibus tempora.</p>
                    </div>
                </div>
                <div class="input_slider"></div>
                <div class="resume"></div>

            </div>
            <!-- Third film -->
            <div class="background_image">
                <div class="content">
                    <div class="film-info left">
                        <div class="film-name">Your <br> Name <br> </div>
                        <div class="info_1">
                            <div class="type">Romace, Drama</div>
                            <div class="year"><i class="fa-regular fa-calendar-days"></i>
                                <p>2019</p>
                            </div>
                            <div class="long"><i class="fa-solid fa-hourglass"></i>
                                <p>128min</p>
                            </div>
                        </div>
                        <div class="review">
                            <p><span>IMDB</span> 8.0/10 (650k) </p>
                        </div>
                        <div class="btns">
                            <button class="buttons primary">
                                <a href="movie.html">Watch</a>
                            </button>

                            <button class="buttons secondary">
                                <a href="details.html">More details</a>
                            </button>
                        </div>
                    </div>
                    <div class="film-info right">
                        <p>Daminen Chazelle <span> :Director</span> </p>
                        <p>Ryal Glosing, Emma Stone <span> :Star</span> </p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptate similique
                            quam
                            aut modi quis obcaecati velit soluta error aspernatur maxime, sequi impedit corrupti
                            neque?
                            Sit laudantium necessitatibus tempora.</p>
                    </div>
                </div>
                <div class="input_slider"></div>
                <div class="resume"></div>

            </div>
            <div class="background_image">
                <div class="content">
                    <div class="film-info left">
                        <div class="film-name">Coda </div>
                        <div class="info_1">
                            <div class="type">Romace, Drama</div>
                            <div class="year"><i class="fa-regular fa-calendar-days"></i>
                                <p>2019</p>
                            </div>
                            <div class="long"><i class="fa-solid fa-hourglass"></i>
                                <p>128min</p>
                            </div>
                        </div>
                        <div class="review">
                            <p><span>IMDB</span> 8.0/10 (650k) </p>
                        </div>
                        <div class="btns">
                            <button class="buttons primary">
                                <a href="movie.html">Watch</a>
                            </button>

                            <button class="buttons secondary">
                                <a href="details.html">More details</a>
                            </button>
                        </div>
                    </div>
                    <div class="film-info right">
                        <p>Daminen Chazelle <span> :Director</span> </p>
                        <p>Ryal Glosing, Emma Stone <span> :Star</span> </p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptate similique
                            quam
                            aut modi quis obcaecati velit soluta error aspernatur maxime, sequi impedit corrupti
                            neque?
                            Sit laudantium necessitatibus tempora.</p>
                    </div>
                </div>
                <div class="input_slider"></div>
                <div class="resume"></div>

            </div>
            <div class="background_image">


                <div class="content">
                    <div class="film-info left">
                        <div class="film-name">About <br> Time <br> </div>
                        <div class="info_1">
                            <div class="type">Romace, Drama</div>
                            <div class="year"><i class="fa-regular fa-calendar-days"></i>
                                <p>2019</p>
                            </div>
                            <div class="long"><i class="fa-solid fa-hourglass"></i>
                                <p>128min</p>
                            </div>
                        </div>
                        <div class="review">
                            <p><span>IMDB</span> 8.0/10 (650k) </p>
                        </div>
                        <div class="btns">
                            <button class="buttons primary">
                                <a href="movie.html">Watch</a>
                            </button>

                            <button class="buttons secondary">
                                <a href="details.html">More details</a>
                            </button>
                        </div>
                    </div>
                    <div class="film-info right">
                        <p>Daminen Chazelle <span> :Director</span> </p>
                        <p>Ryal Glosing, Emma Stone <span> :Star</span> </p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptate similique
                            quam
                            aut modi quis obcaecati velit soluta error aspernatur maxime, sequi impedit corrupti
                            neque?
                            Sit laudantium necessitatibus tempora.</p>
                    </div>
                </div>


            </div>
        </div>


    </div>
    <script type="text/javascript">
        window.addEventListener("scroll", () => {
            var header = document.querySelector("header");
            header.classList.toggle('sticky', window.scrollY > 0);
        })
    </script>
</body>

</html>