<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/css.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <script src="https://kit.fontawesome.com/a3fe8c29cc.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="container" style="background-image: url(style/images/back.jpg);">
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="style/images/logow.png" alt=""></a>
                </div>
                <div class="navbar-link">
                    <ul>
                        <li>
                            <div class="search">
                                <a href="search.html">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </li>
                        <li><a href="index.html">Movie</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="payment">
            <div class="introduction_payment">
                <h3>Về trang web và gói trả phí</h3>
                <p>Chào quý khán giả!</p>
                <p>NETFLOP là trang web xem phim trực tuyến với các bộ phim chất lượng cao và âm thanh vượt trội
                    (5.1-6 chanel) mang lại cảm giác xem phim hoàn hảo. Các bộ phim đề được chúng tôi mua bản quyền
                    từ nhà sản xuất và NETFLOP nói không với phim lậu. Vì vậy, để có thể chi trả cho các bộ phim và
                    đội ngũ phát triển, chúng tôi đưa ra gói dịch vụ để thu lại 1 phần kinh phí. Để có quyền truy cập
                    vào kho phim cũng như các chức năng của trang web, bạn sẽ phải thanh toán để nâng cấp dịch vụ. Bạn
                    chỉ cần thanh toán 1 lần duy nhất, tài khoản của bạn sẽ có quyền truy cập trọn đời.( Trừ khi chúng
                    tôi phát hiện bạn có các động thái không phù hợp làm ảnh hưởng đến các khách hàng khác và làm tổn
                    hại đến hệ thống, bạn sẽ bị BLOCK.)
                    
                </p>
                <p>
                    Dưới đây là chi tiết về gói thanh toán mà chúng tôi cung cấp, dù có nâng cấp hay không đi nữa,
                    chúng tôi hy vọng bạn sẽ có những giây phút xem phim (hoặc trailer) vui vẻ!!!
                </p>
            </div>

            <div class="infomation_payment">
                <h3>Gói trả phí</h3>
                <div class="goi normal">
                    <h4>KHÔNG NÂNG CẤP</h4>
                    <p class="v"><i class="fa-solid fa-circle-check"></i> Xem trailer</p>
                    <p class="x"><i class="fa-solid fa-circle-xmark"></i> Xem phim</p>
                    <p class="x"><i class="fa-solid fa-circle-xmark"></i> Chọn phim yêu thích</p>
                    <p class="x"><i class="fa-solid fa-circle-xmark"></i> Bình luận, đánh giá</p>

                    <div>Tôi chấp nhận và 
                        <button class="buttons secondary">
                            <a href="index.html">Về trang chủ</a>
                        </button>
                    </div>
                </div>
                <div class="goi vip">
                    <h4>NÂNG CẤP</h4>
                    <p class="v"><i class="fa-solid fa-circle-check"></i> Xem trailer</p>
                    <p class="v"><i class="fa-solid fa-circle-check"></i> Xem phim</p>
                    <p class="v"><i class="fa-solid fa-circle-check"></i> Chọn phim yêu thích</p>
                    <p class="v"><i class="fa-solid fa-circle-check"></i> Đánh giá, bình luận</p>

                    <div>Tôi muốn mua gói và thanh toán với
                        <button class="buttons pay"><a href="https://www.paypal.com/vn/home">Paypal</a></button>

                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>